body{
	padding : 1;
	margin : 1;
	border : 1;
	border-radius: 2px solid black;
	background: #ffffff;
}

/* ----------- Laptops Non-Retina ----------- */
@media screen 
  and (min-device-width: 1000px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {

.pageHeader {
	float: left;
	
}
  
.menyHorizontal {
	float: left;
}

.menyHorizontal2 {
	float: left;
}
  
.pageContent {
	float: left;
}
  
.pageContentLeft {
	float: left;
}
  
.pageBot {
	float: left;
}
  

a {
	text-decoration: none;
	color: purple;
}
  
  
  }